:root {
    --primary-colour: #E7E4E4;
    --secondary-colour: #FAF7F7;
    --third-color: #C4C4C4;
    --white: #fdfdfd;
    --black: #3333;
    --grey: #535461;
    --text-color: #535461;
  
    /* font family vars */
    --roboto: "Roboto", sans-serif;
    --lato: "Lato", cursive;
    --dmserif: 'DM Serif Text', serif;
    --abhayalibre: 'Abhaya Libre', serif;
  }
  