* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* css variables*/
  
  @import url(/css/_variables.css);
  
  :root {
    --primary-colour: #E7E4E4;
    --secondary-colour: #FAF7F7;
    --purp: #3f3d56;
    --purple-light: #9693BE;
    --white: #fdfdfd;
    --black: #3333;
    --grey: #333;
  
    /* font family vars */
    --roboto: "Roboto", sans-serif;
    --lato: "Lato", cursive;
    --dmserif: 'DM Serif Text', serif;
    --abhayalibre: 'Abhaya Libre', serif;
  }
  

  html {
    width: 100%;
  }
  
  body {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 2s; /* Firefox < 16 */
          -ms-animation: fadein 2s; /* Internet Explorer */
           -o-animation: fadein 2s; /* Opera < 12.1 */
              animation: fadein 2s;
  }
  
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Opera < 12.1 */
  @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  
  }
  
  
  /* global classes start here*/
  main {
    padding: 4em 4em;
  }
  
  button {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid var(--primary-colour);
  }
  
  h1 {
    font: normal bold 2rem var(--lato);
    color: var(--text-color);
    line-height: 1.6em;
    margin-bottom: 0.8em;
  }
  
  h2 {
    font: normal 1.5rem var(--lato);
    color: var(--text-color);
    margin-bottom: 1em;
  }
  
  h3 {
    font: normal bold 1.17rem var(--lato);
    color: var(--text-color);
    margin-bottom: 1em;
  }
  
  p {
    font: normal light 1rem var(--lato);
    color: var(--text-color);
    line-height: 140%;
    padding-bottom: 1.6em;
  }
  
  a {
    text-decoration: none;
    outline: none;
  }
  
  h4 {
    font: normal bold 1rem var(--lato);
    color: var(--text-color);
    margin: 0;
  }
  
  h5 {
    font: normal light 0.83rem var(--lato);
    margin: 0;
    color: var(--text-color);
  }
  
  h6 {
    font: normal 0.75rem var(--lato);
    color: var(--text-color);
    padding: 1em;
    margin: 0;
  }
  
  li {
    font: normal light 1rem var(--lato);
    color: var(--text-color);
    line-height: 140%;
  }
  
  footer {
    padding: 2em;
    background-color: var(--footer-color);
  }

  .btn {
    padding: 0.5em 0;
  }
  
  .btn a {
    background-color: var(--primary-colour);
    color: var(--white);
    padding: 0.8rem 2.2rem;
    border-radius: 10px;
    font: normal bold 18px/120% var(--lato);
  }
  
  .btn a:hover {
    text-decoration: none;
    filter: opacity(0.8);
  }
  
  /* global classes end here */

  
  /* start Nav CSS */

  .header_area{
    background: linear-gradient(to right, var(--primary-colour) 0%, var(--primary-colour) 40%, var(--secondary-colour) 40%,var(--secondary-colour) 100%);
  }
  
  .header_area .main-menu .navbar .navbar-brand {
    font: bolder 14px/120% var(--dmserif);
    font-weight: 500;
    font-size: xx-large;
    padding: 10 1.7rem;
    margin: 20px 35px;
  }
  
  .header_area .main-menu .navbar {
    padding: 1rem 1rem;
    text-align: right;
    border: 2px;
  }
  
  .header_area .main-menu .nav-item .nav-link {
    font: bolder 14px/120% var(--lato);
    text-transform: uppercase;
    color: var(--purp);
  }
  
  .header_area .main-menu .navbar-nav .active a {
    background: var(--primary-colour);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .header_area .main-menu .navbar-nav a:hover {
    background: var(--primary-colour);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .header_area .main-menu .nav-item {
    padding: 1em;
  }
  
  .navbar-toggler {
    border: none !important;
  }
  
  /* End nav css */

   /* Start Banner Area css */
  
  section.masthead {
    position: relative;
    background: linear-gradient(to right, var(--primary-colour) 0%, var(--primary-colour) 40%, var(--secondary-colour) 40%,var(--secondary-colour) 100%);
    background-size: cover;
    height: 70vh;
  }
  
  section.masthead h1 {
    color: var(--white);
  }
  
  section.masthead p {
    color: var(--white);
    margin: -1em 0 0.5em 0;
  
  }

  /* End Banner Area css */



  /* Carousel Area */
    .carousel-inner{
      width: 100%;
      height: 90vh;
      /* margin: 20rem 0 20rem 0; */
    }


    /* End of Carousel Area */
  
  @media only screen and (max-width: 768px) {
    main {
      padding: 2em 4em;
    }
  
    button {
      border: 2px solid var(--primary-colour);
    }
  
    h1 {
      font: normal bold 30px/120% var(--lato);
      padding: 0.4em 0;
      margin: 0;
    }
  
    h2 {
      font: normal 600 26px/120% var(--lato);
      color: var(--purp);
      margin: 0;
    }
  
    h3 {
      font: normal bold 24px/120% var(--lato);
      color: var(--purp);
      margin: 0;
    }
  
    p {
      font: normal lighter 16px/140% var(--lato);
      padding: 1em 0 1em 0;
      margin: 0;
    }
  
    h4 {
      font: normal bold 18px/120% var(--lato);
      margin: 0;
    }
  
    h5 {
      font: normal lighter 16px/140% var(--lato);
      margin: 0;
    }
  
    footer {
      padding: 1.5em;
    }
  
    h6 {
      font: normal lighter 14px/140% var(--lato);
      color: #333;
      padding: 1em;
      margin: 0;
    }
  
    .btn a {
      padding: 0.8rem 2.2rem;
      border-radius: 10px;
      font: normal bold 15px/120% var(--lato);
    }
  
    .header_area .main-menu .navbar .navbar-brand {
      padding: 0 0.5rem;
    }
  
    .header_area .main-menu .navbar .navbar-toggler-icon {
      border-color: var(--purp);
    }
  
    .header_area .main-menu .nav-item .nav-link {
      font: bolder 12px/120% var(--lato);
    }
  
    .header_area .main-menu .navbar-nav a:hover {
      background: var(--primary-colour);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  
    .header_area .main-menu .nav-item {
      padding: 1em;
    }

    section.masthead h1 {
      padding: 0;
    }
  
    section.masthead p {
      padding: 0;
    }
  }


/* Banner ends here */

/* Bottom Nav */

@media only screen and (max-width: 576px) {
  .column {
    padding: 6em 1em 0 1em;
  }

  .banner-img {
    padding: 4em 0 0 0;
    max-width: 100%;
    
  }
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

