* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* css variables*/
  
  @import url(/css/_variables.css);
  
  :root {
    --primary-colour: 	#333333;
    --secondary-colour: white;
    --third-color: #C4C4C4;
    --white: #fdfdfd;
    --black: #3333;
    --grey: #535461;
    --text-color: #535461;
  
    /* font family vars */
    --roboto: "Roboto", sans-serif;
    --lato: "Lato", cursive;
    --dmserif: 'DM Serif Text', serif;
    --abhayalibre: 'Abhaya Libre', serif;
  }
  
  

  html {
    width: 100%;
  }
  
  body {
    width: 100%;
    background-color: var(--secondary-colour);
  }


                                        /* global classes start here*/


   main {
    padding: 4em 4em;
  }
  
  button {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid var(--grey);
  }
  
  h1 {
    font: normal bold 2rem var(--lato);
    color:var(--primary-colour);
    line-height: 1.6em;
    margin-bottom: 0.8em;
  }
  
  h2 {
    font: normal 1.5rem var(--lato);
    color:var(--primary-colour);
    margin-bottom: 1em;
  }
  
  h3 {
    font: normal bold 1.17rem var(--lato);
    color:var(--primary-colour);
    margin-bottom: 1em;
  }
  
  p {
    font: normal 500 1rem var(--lato);
    color:var(--primary-colour);
    line-height: 140%;
    /* padding-bottom: 1.6em; */
  }
  
  a {
    text-decoration: none;
    outline: none;
  }
  
  h4 {
    font: normal bold 1rem var(--lato);
    color:var(--primary-colour);
    margin: 0;
  }
  
  h5 {
    font: normal light 0.83rem var(--lato);
    margin: 0;
    color:var(--primary-colour);
  }
  
  h6 {
    font: normal 0.75rem var(--lato);
    color:var(--primary-colour);
    padding: 1em;
    margin: 0;
  }
  
  li {
    font: normal light 1rem var(--lato);
    color:var(--primary-colour);
    line-height: 140%;
  }
  
  footer {
    /* padding: 2em; */
    background-color: #090909;
  }

  footer h6{
    color:white;
  }

  .btn {
    padding: 0.5em 0;
  }
  
  .btn a {
    background-color: var(--third-color);
    color: var(--primary-colour);
    padding: 0.8rem 2.2rem;
    border-radius: 10px;
    font: normal bold 18px/120% var(--lato);
  }
  
  .btn a:hover {
    text-decoration: none;
    filter: opacity(0.8);
  }

  .section{
      /* margin: 7em 0; */
      padding: 8em 5em;
      align-content: center;
  }

  .carousel-indicators li {
    filter: invert(100%);
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(100%);
  }


                                          /* global classes end here*/
                                          

                                            /* Nav css starts here*/     


 /* .header_area{
    background: linear-gradient(to right, var(--primary-colour) 0%, var(--primary-colour) 40%, var(--secondary-colour) 40%,var(--secondary-colour) 100%);
  } */
  
  .header_area .main-menu .navbar .navbar-brand {
    font: bolder 14px/120% var(--dmserif);
    font-weight: 500;
    font-size: xx-large;
    padding: 10 1.7rem;
    margin: 20px 35px;
    color:var(--secondary-colour);
  }
  
  .header_area .main-menu .navbar {
    padding: 1rem 1rem;
    text-align: right;
    border: 2px;
  }
  
  .header_area .main-menu .nav-item .nav-link {
    font: normal 14px/120% var(--lato);
    text-transform: uppercase;
    color: var(--secondary-colour);
  }
  
  .header_area .main-menu .navbar-nav .active a {
    background: var(--secondary-colour);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .header_area .main-menu .navbar-nav a:hover {
    background:var(--secondary-colour);
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .header_area .main-menu .nav-item {
    padding: 1em;
  }
  
  .navbar-toggler {
    border: none !important;
  }                                       

                                            /* Nav css ends here*/ 

.backgroundimg{
    background: url(../assets/img/roses.jpg) no-repeat center center/cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
  

}

.backgroundimg::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.44); 

}

.box{
    border: 4px solid var(--secondary-colour);
    padding: 2.5em;
    z-index: 1;
    /* margin-top: 3.5em; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.box h1{
    font: normal 80px/120% var(--dmserif);
    color: var(--secondary-colour);
    display: inline;
    /* line-height: 1.5em; */
}

.box p{
    color: var(--secondary-colour);
    font-stretch: wider;
}

                                        
                                            /* About css starts here*/                                            

.underline {
  width: 10em;
  height: 0.3em;
  background:var(--primary-colour);
  border-radius: 10px;
  margin-bottom: 4em;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .about h2{
    margin: 0 0 3em 0;
} */

/* .about .skills{
    padding-left: 3em;
} */

.about .icon{
    padding: 0.2em 1em 0.2em 0.5em;
    text-align: center;
    color:var(--primary-colour);
    font-size: 2em;
}

.about .icon:hover{
    color: var(--third-color);
}

.about .about-self p{
    text-align: left;
    padding: 0 0 0 4em;
}


                                             /* About css ends here*/  



                                              /* Projects css starts here*/   
                
/* .project{
    height: 80vh;
}   */

/* .img-container{
    
}                           */

.projects{
  padding-bottom: 3em;
}
.carousel{
  padding: 0 1em 4em 1em;

}

.details-container{
    padding: 2em 3em;
}

.details-container .project-description p{
    font: normal 400 1rem var(--lato);
}

.project-title{
    margin-bottom: 0.4em;
}

.project-title h2{
  font-weight: bolder;
}

/* .project-title h2{
  font: normal 1.5rem var(--dmserif);
} */

.tech-stack{
    padding:0.5em 1em;
    margin: 0.3em 0.3em 1.5em 0.3em;
    background-color:var(--primary-colour);
}

.tech-stack h4{
  color: var(--secondary-colour);
}

.links{
  margin-right: 1em;
}

.links .fab{
  margin-right: 1em;
}

.links .fas{
  margin-right: 1em;
}

.links a{
  font: normal 300 1rem var(--lato);
}

.carousel .btn a{
  background: rgba(173, 192, 203, 0.08);
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.carousel-control-prev{
    color: black;
    
}

.sr-only{
    color: black;
    
}

.carousel-indicators{
    color: black;
    
    margin-top: 3em;
}



                                              /* Projects css ends here*/  




                                              
                                              /* Contact css starts here*/  
                                              


.contacts i{
    padding: 0 1em 1em 1em;
    text-align: center;
    color:var(--primary-colour);
    font-size: 2em;
}

.contacts a{
    color:var(--primary-colour);
    text-decoration: underline;
    margin-top: 0.5em;
}

                                              /* Contact css ends here*/  



                                            /* Responsive media queries */
            
@media only screen and (max-width: 576px) {
    main {
      padding: 2em 4em;
    }
  
    button {
      border: 2px solid var(--primary-colour);
    }
  
    h1 {
      font: normal bold 30px/120% var(--lato);
      padding: 0.4em 0;
      margin: 0;
    }
  
    h2 {
      font: normal 600 26px/120% var(--lato);
      color:var(--primary-colour);
      margin: 0;
    }
  
    h3 {
      font: normal bold 24px/120% var(--lato);
      color:var(--primary-colour);
      margin: 0;
    }
  
    p {
      font: normal 500 16px/140% var(--lato);
      padding: 1em 0 1em 0;
      margin: 0;
    }
  
    h4 {
      font: normal bold 18px/120% var(--lato);
      margin: 0;
    }
  
    h5 {
      font: normal lighter 16px/140% var(--lato);
      margin: 0;
    }
  
    footer {
      padding: 0.5em;
    }
  
    h6 {
      font: normal 500 14px/140% var(--lato);
      color:var(--primary-colour);
      padding: 1em;
      margin: 0;
    }
  
    .btn a {
      padding: 0.8rem 2.2rem;
      border-radius: 10px;
      font: normal bold 15px/120% var(--lato);
    }
  
    .header_area .main-menu .navbar .navbar-brand {
      padding: 0 0.5rem;
      margin: 20px 10px;
    }
  
    .header_area .main-menu .navbar .navbar-toggler-icon {
      border-color:var(--primary-colour);
      color:var(--primary-colour);
    }
  
    .header_area .main-menu .nav-item .nav-link {
      font: bolder 12px/120% var(--lato);
    }
  
    .header_area .main-menu .navbar-nav a:hover {
      background: var(--primary-colour);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  
    .header_area .main-menu .nav-item {
      padding: 1em;
    }

    .section{
      padding: 5em 2em;
    }

    .box{
      padding: 0;
    }

    .box h1{
      font: normal 40px/120% var(--dmserif);
    }

    .box p{
      font: normal 400 12px/140% var(--lato);
    }

    .about h2{
      color:var(--primary-colour);
    }

    .about .about-self p{
      padding: 0;
    }

    .contact h2{
      color:var(--primary-colour);
    }

    .contacts i{
      padding: 0.2em 0.3em;
    }

    .contacts a{
      margin-top: 1em;
    }
    
    .about .icon {
      padding: 0.1em 0.5em ;
      font-size: 1.5em
    }

    /* .section .carousel{
      padding: 3em 2em;
    } */

    .carousel .projects .banner-img{
      height: 150px;
    }

    .project-title h2{
      text-align: center;
    }

    .tech-stack{
      padding: 0.1em 0.5em;
      margin: 0.1em 0.1em;
    }

    .carousel .btn{
      margin-top: 1em;
    }

    .links {
      margin:0;
    }

    .about .skills .col-xs-6{
      width: 50%;
      padding-right: 0;
      padding-left: 0;
      padding-top: 2em;
  }

    .about .skills p{
      font: normal 300 0.8rem var(--lato);
    }

    .underline {
      margin: 2em 0 3em 0;
    }

    .details-container{
      padding: 3em;
    }

    .carousel-indicators {
      padding-top: 3em;
  }
}
  
  @media only screen and (max-width: 768px) {
    /* .about .about-self p {
    padding: 0 0 em 4em;
  } */
  }